body{
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif
}

p{
    font-family: 'Montserrat' , sans-serif;
}
h1 {
    font-size: 6.5em;
    margin-top: 0;
    font-family: 'Sacramento' , cursive;
    color: #66BFBF;
}

h2 {
    font-family: 'Montserrat' , sans-serif;
    font-size: 2em;
    color: #66BFBF;
    font-weight: normal;
}

h3{
  font-family: 'Montserrat' , sans-serif;
  color:#11999E;
}

.top-container {
    background-color: #c1f3f7;
    position: relative;
    padding-top: 150px;
}

.profile > img {
    padding-top: 50px;
    height: 250px;
}
.middle-container > img {
    display: inline ;
    
}

.bottom-container {
    margin-top: 40px;
    background-color: #c1f3f7;
    margin-bottom: 0;
    height: 150px;
}

.bottom-container > p {
    position: relative;
    top: 80px;
   font-family: 'Montserrat' , sans-serif;
}

.contact-me {
    font-family: 'Montserrat' , sans-serif;
    color: black;
    text-decoration: none;
}

.contact-me > a {
    text-decoration: none;
    font-size: 35px;
    color: #11999E;;
}

.pro {
    text-decoration: underline;
}

.bottom-cloud {
    position: absolute;
    left: 300px;
    bottom: 300px;;
}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 50px;
}

.footer-link {
    position: relative;
    top: 50px;
    font-size: 25px;
    font-family: 'Montserrat' , sans-serif;
    margin-top: 20px;
    padding: 20px;
    color:#11999E;
    margin-bottom: 0;
    text-decoration: none;
}